
<div>
  <div class="head flex items-center justify-center text-center h-32">
    <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">
      <img src="/assets/images/FAQ.svg" alt="" class="faq-image">
    </h1>
  </div>

  <section class="text-gray-700">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
        <div class="w-full lg:w-1/2 py-2">
          <details class="mb-4">
            <summary class="font-semibold   rounded-md">
              {{'Is this an online shop?'| translate}}
            </summary>

            <span>
              {{'We don’t sell our products directly through this website. If you want to place an order you will be redirected to the Amazon website of your chosen country. This is a blog to share useful content with the Paint By Numbers community and promote Grandart kits.'| translate}}
            </span>
          </details>
          <details class="mb-4">
            <summary class="font-semibold rounded-md">
              {{'What countries do you deliver to?'| translate}}
            </summary>

            <span>
              {{'Currently we only deliver to the UK, Germany and Poland. We are working to expand to more countries.'| translate}}
            </span>
          </details>
          <details class="mb-4">
            <summary class="font-semibold rounded-md ">
              {{'Where my order will be dispatched from?'| translate}}
            </summary>

            <span>
              {{'We have warehouses in the UK, Germany and Poland. All orders aree dispatched from your chosen country of delivery.'| translate}}
            </span>
          </details>
          <details class="mb-4">
            <summary class="font-semibold rounded-md">
              {{'How long will it take to receive my order?'| translate}}
            </summary>

            <span class=" py-2">
              {{'Amazon usually takes 1 to 3 days, some remote addresses may take up to 4 or 5 days.'| translate}}
            </span>
          </details>
        </div>
        <div class="w-full lg:w-1/2  py-2">
          <details class="mb-4">
            <summary class="font-semibold rounded-md">
              {{'Do you supply framed and frameless kits?'| translate}}
            </summary>

            <span class=" py-2">
              {{'We don’t supply frameless kits. All our kits come with a canvas mounted and stretched on a wooden frame.'| translate}}
            </span>
          </details>
          <details class="mb-4">
            <summary class="font-semibold rounded-md">
              {{'What’s the size of your kits?'| translate}}
            </summary>

            <span class=" py-2">
              {{'All our kits are 16” 20” (50x40 cm)'| translate}}
            </span>
          </details>
          <details class="mb-4">
            <summary class="font-semibold rounded-md">
              {{'What is included in every kit?'| translate}}
            </summary>

            <span class=" py-2">
              {{"Everything you need to complete your painting:" | translate }}
                - {{"16” x 20” (40 cm x 50 cm) pre-printed canvas mounted on a wooden frame" | translate }}
                - {{'set of acrylic paints'| translate}}
                - {{'set of brushes'| translate}}
                - {{'magnifier'| translate}}
                - {{'numbers reference sheet'| translate}}
                - {{'picture reference card'| translate}}
                - {{'hanging set (2 hooks & 2 screws)'| translate}}
            </span>
          </details>

          <details class="mb-4">
            <summary class="font-semibold rounded-md">
              {{'I am new to Paint By Numbers, where do I start?'| translate}}
            </summary>

            <span class=" py-2">
              {{'Check out' | translate}} <a href="https://blog.grandartcrafts.com">{{'our complete guide' | translate}}</a> {{'and' | translate }} <a href="https://www.youtube.com/channel/UCVx5EQKBcAu2UN9pjmBn5fg">{{'Youtube channel' | translate}}</a> {{'for useful information and tips.' | translate}}
            </span>
          </details>
        </div>
      </div>
    </div>
  </section>
</div>
