
<div>
  <div class="head text-center h-32 flex items-center justify-center">
    <h1 class="text-white text-4xl"> {{ 'Our Story' | translate}} </h1>
  </div>
  <div class="info flex flex-col justify-center items-center">
    <img src="/assets/images/beach.jpg" class="w-8/12 md:w-5/12 mt-12 mb-8" alt="" srcset="">
    <div class="w-3/4 xl:w-2/4 text-justify">
      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]=" 'In essence, <b>Grandart</b> is a small and new established British Paint By Numbers company delivering to the UK, Germany and Poland.' | translate ">


      </p>

      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'<b>How did it all start?</b> Well, that’s our fault. We are David and Olivia, two passionate Paint By Numbers artists with more willingness than talent in painting.' | translate">

      </p>

      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'We had ordered yet another PBN kit to paint, unwind and try to cope with the situation at the time – yes, it was “back” then in April 2020 –' | translate">

      </p>

      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'Soon the familiar feeling of disappointment overwhelmed us. Another dull, low-quality product arrived and to top it up, it arrived late.' | translate">

      </p>

      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'Then we realized how much we could improve this experience for other people who felt the same way. There was so much potential to change the game.' | translate">

      </p>

      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'So that’s how we got through the first lockdown, touching up some paintings and making our own unique designs with the help of some fantastic artists.' | translate">

      </p>

      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'Knowing the main issues regular PBN kits used to have, we made our mission to fix them all!' | translate">
        Knowing the main issues regular PBN kits used to have, we made our mission to fix them all!

      </p>
      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'<b>Creases spoiling artwork?</b> Let’s deliver our PBN with canvas stretched on a frame.' | translate">


      </p>
      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'<b>Blending required?</b> Let’s provide all the colours mixed and ready to be used.' | translate">


      </p>
      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'<b>Long waiting times?</b> Let’s deliver exclusively from the UK.' | translate">


      </p>
      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'<b>Ugly package?</b> Let’s pack it in a pretty giftable box.' | translate">


      </p>
      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'<b>Small numbers?</b> Let’s make them bigger and provide a magnifier.' | translate">


      </p>
      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'<b>Low-quality products?</b> Let’s raise the bar here.' | translate">


      </p>


      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'<b>The result?</b> Satisfying.' | translate">


      </p>

      <p class="my-8 text-l md:text-2xl xl:text-xl" [innerHTML]="'We are thrilled painting our own kits and happy seeing customers appreciate our efforts.' | translate">


      </p>

      <p class="my-8 text-l md:text-2xl xl:text-xl mb-16" [innerHTML]="'Short story so far… get on board and help us make it longer!' | translate">


      </p>

    </div>
    </div>
</div>
