<div class="head text-white text-center">
  <div class="newsletter w-screen flex flex-col justify-center items-center">
    <h1 class="text-6xl text-center w-10/12 md:w-12/12 mb-12 mt-16">Get Our Complete Paint By Numbers Guide</h1>
    <p class="w-10/12 md:w-6/12 mb-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    <form action="" class="flex items-center mb-16">
      <input class="w-3/5 mx-2 md:w-96 px-9 h-12 rounded" type="email" name="" id="" placeholder="Your email address">
      <input class="w-2/5 mx-2 h-12 rounded" type="submit" value="Download now for free">
    </form>
  </div>
</div>
<div class="blogs">
  <div class="blog-entry flex flex-col lg:flex-row w-11/12 xl:w-8/12 mx-auto lg:h-80 my-32">
    <img src="/assets/images/designs/apache.png" class="object-contain" alt="" srcset="">
    <div class="flex flex-col w-full lg:w-1/2 h-full lg:ml-12 justify-center text-center">
        <h2 class="text-4xl p-2 my-8">
            Paint By Numbers | The (unfinished yet) complete guide
        </h2>
        <p class="mb-8 p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus est obcaecati officia, quisquam vel eaque, voluptatibus aliquam unde enim suscipit eius? Consequuntur a qui eveniet dolores nobis nam neque veritatis?</p>
    </div>
  </div>

  <div class="blog-entry flex flex-col lg:flex-row w-11/12 xl:w-8/12 mx-auto lg:h-80 my-32">
    <img src="/assets/images/designs/apache.png" class="object-contain" alt="" srcset="">
    <div class="flex flex-col w-full lg:w-1/2 h-full lg:ml-12 justify-center text-center">
        <h2 class="text-4xl p-2 my-8">
            Paint By Numbers | The (unfinished yet) complete guide
        </h2>
        <p class="mb-8 p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus est obcaecati officia, quisquam vel eaque, voluptatibus aliquam unde enim suscipit eius? Consequuntur a qui eveniet dolores nobis nam neque veritatis?</p>
    </div>
  </div>

</div>
